.Google_Play_Store {
 display: block;
}
.Google_Play_Games {
 display: none;
}
.Google_Play_Books {
 display: none;
}
.Google_Play_Newsstand {
 display: none;
}
.Google_Play_Movies_and_TV {
 display: none;
}
.Google_Play_Music {
 display: none;
}
.Google_Play_Console {
 display: none;
}